#root {
  width: 100%;
  padding: 2rem;
  text-align: center;
}

body {
  transition: background-color 0.5s ease;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.Nav-SideHero {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  width: 100%;
}

.Nav {
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
}

.SideHero {
  display: flex;
  flex-direction: column;
  padding: 8px;
  width: 10%;
  text-align: start;
  background-color: #08d4f8a8;
  border-radius: 10px;
  border: 1px solid black;
  position: sticky;
}

.MainHero {
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.MainNews {
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.164);
  width: 75%;
  height: 700px;
  margin-left: 40px;
  /* ask rj if thers another way then margin-left */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.MainNews Img {
  object-fit: contain;
  max-width: 1200px;
  border-radius: 10px;
}

.Inner-MainHero {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;
  gap: 30px;
}

.ProfileImg {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.ProfileImgOffline {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  filter: grayscale(100%);
}

.FriendsListCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.FriendsListCard p {
  font-size: 18px;
  margin: 0;
  font-weight: bold;
}

.FriendsCard {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.FriendsOfflineCard {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.FriendsCardWrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 7px;
}

.OfflineCardWrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 7px;
}

.ProfileHover {
  font-size: 12px;
}

.ProfileHoverOffline {
  font-size: 12px;
}

.Profile-popup {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 6px 10px;
  border-radius: 4px;
  position: absolute;
  bottom: 125%; /* position above the text */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  transform: translateX(0);
}

.Profile-popupOffline {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 6px 10px;
  border-radius: 4px;
  position: absolute;
  bottom: 125%; /* position above the text */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  transform: translateX(0);
}

.Profile-popup li {
  list-style: none;
  align-items: start;
}

.FriendsCardWrapper:hover .Profile-popup {
  visibility: visible;
  opacity: 1;
}

.OfflineCardWrapper:hover .Profile-popupOffline {
  visibility: visible;
  opacity: 1;
}

.addBtn {
  cursor: pointer;
}

.FriendsPanel {
  display: flex;
  flex-direction: column;
}

.OnlinePlus {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 18px;
  font-weight: bold;
}

.popup-box {
  width: 90%;
  margin: 5px 0 15px 0;
  padding: 8px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.popup-box input {
  width: 120px;
}

.GameHero {
  border: 1px solid red;
  width: 100%;
  width: 1080px;
  overflow: hidden;
  border-radius: 10px;
}

.GameHeroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.GameHeroCard {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 380px;
  border-radius: 10px;
  position: relative;
  margin: 0 10px;
}

.GameCardDetail {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1px;
  bottom: 11px;
  left: 10px;
  width: 50%;
  align-items: flex-start;
}

.GameTitleCard {
  margin: 0;
  color: white;
  font-size: 11px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.GameTypeCard {
  font-size: 11px;
  margin: 0;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.GameTagContainer {
  display: flex;
  width: 100%;
}

.GameTagCard {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.664);
  width: 100%;
  border-radius: 23px;
  font-size: 8px;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.Logout {
  margin-top: 30px;
}

@media screen and (max-width: 1400px) {
  #root{
    width: 95%;
  }
  body{
    background-color: red;
  }
  .MainNews{
    width: 75%;
  }
  .GameHeroCard {
    width: 300px;
  }
  .Nav-SideHero {
    width: 85%;
  }
}

@media screen and (max-width: 790px) {
  .GameHeroCard {
    width: 300px;
  }
}
